---
import Layout from "./Layout.astro";
import { BottomMenu, Header } from "../components";
import { About } from "../components";
import { GlobalStats } from "../components";
---

<Layout>
    <BottomMenu client:only/>
    <div class="flex max-w-screen-xl w-full mx-auto h-full relative">
        <div class="flex flex-col grow mb-20">
            <Header />
            <About />
            <GlobalStats client:only />
            <div class="md:px-5 lg:px-10">
                <slot />
            </div>
        </div>
    </div>
</Layout>
