---
import Layout from "./Layout.astro";
import { FiltersSidebar } from "../components";
import { Header } from "../components";
import { About } from "../components";
import { GlobalStats } from "../components";
---

<Layout>
    <div class="flex h-full relative">
        <div
            class="hidden lg:flex w-[300px] flex-col gap-5 shrink-0 max-h-screen h-screen overflow-y-auto sticky top-0 scrollbar-thin p-5 bg-neutral-100"
        >
            <FiltersSidebar client:only />
        </div>
        <div class="flex flex-col grow mb-20">
            <Header />
            <About />
            <GlobalStats client:only />
            <div class="md:px-5 lg:px-10">
                <slot />
            </div>
        </div>
    </div>
</Layout>
