---
import products from "../../../../data/products.json";
import Layout from "../../layouts/Layout.astro";

export function getStaticPaths() {
    return products.map((product) => ({
        params: {
            productId: product.id,
        },
        props: {
            product,
        },
    }));
}

const { product } = Astro.props;
---

<Layout
    seo={{
        title: product.name,
        description: product.description,
    }}
>
    <div>{product.name}</div>
</Layout>
