---
import CollectionHeader from "../../components/CollectionHeader.astro";
import Header from "../../components/Header.astro";
import Layout from "../../layouts/Layout.astro";
import { BookmarksList } from "../../components/BookmarksList";

const seo = {
    title: "Bookmarks",
    description: "Your bookmarks are saved here.",
};

const title = "Bookmarks";
const description = "Your bookmarks are saved here and stored locally in your browser.";
---

<Layout seo={seo}>
    <div class="flex max-w-screen-xl w-full mx-auto h-full relative">
        <div class="flex flex-col grow mb-20">
            <Header />
            <CollectionHeader
                title={ title }
                description={ description }
            />
            <div class="md:px-5 lg:px-10">
                <BookmarksList client:only/>
            </div>
        </div>
    </div>
    
</Layout>
