---
import Layout from "../layouts/Layout.astro";
import { CMSList } from "../components/CMSList";
import { CategoryFilter } from "../components/CategoryFilter";
import { Search } from "../components/Search";
import { OpenSourceFilter } from "../components/OpenSourceFilter";
import { FilterSync } from "../components/FilterSync";
import Header from "../components/Header.astro";

const seo = {
    title: "Digital signage software list",
    description: "A curated list of digital signage software.",
};
---

<Layout seo={seo}>
    <div class="max-w-screen-xl w-full mx-auto h-full relative">
        <Header />
        <FilterSync client:only />
        <div class="my-5 flex flex-col gap-5">
            <Search client:only />
            <OpenSourceFilter client:only />
            <CategoryFilter client:only />
        </div>
        <CMSList client:only />
    </div>
</Layout>
