<header class="flex flex-col max-w-screen-xl w-full mx-auto py-10">
    <h1 class="text-2xl font-bold">SignageList</h1>
    <div class=" text-gray-500">A curated list of digital signage software</div>
</header>