<header class="flex flex-col max-w-screen-xl w-full mx-auto py-10">
    <h1 class="text-2xl font-bold">SignageList</h1>
    <div class=" text-gray-500">A curated list of digital signage software</div>
    <div class="flex flex-row gap-2 mt-2">
        <a href="https://github.com/514sid/digital-signage-list/blob/main/SUBMISSION_GUIDE.md" target="_blank" rel="noopener noreferrer" class="text-blue-600 hover:underline">Submit a new product</a>
    </div>
</header>