---
import { FilteredList } from "../components";
import CollectionHeader from "../components/CollectionHeader.astro";
import TotalProducts from "../components/TotalProducts.astro";

const { products, title, description } = Astro.props;
---

<div class="flex max-w-screen-xl w-full mx-auto h-full relative">
    <div class="flex flex-col grow mb-20">
        <CollectionHeader
            title={ title}
            description={ description}
        />
    </div>
</div>
<div class="bg-neutral-100 py-20">
    <div class="flex flex-col gap-20 max-w-screen-lg w-full mx-auto h-full relative px-3">
        <TotalProducts total={ products.length } />
        <FilteredList products={products} client:only />
    </div>
</div>