---
import Layout from "./Layout.astro";
import Header from "../components/Header.astro";
import About from "../components/About.astro";
import { BottomMenu } from "../components";
import { GlobalStats } from "../components";
import { SearchFilter } from "../components/SearchFilter";

const seo = {
    title: "Digital signage software list",
    description: "A curated list of digital signage software.",
};
---

<Layout seo={seo}>
    <BottomMenu client:only />
    <div class="flex max-w-screen-xl w-full mx-auto h-full relative">
        <div class="flex flex-col grow mb-20">
            <Header />
            <About />
            <SearchFilter client:only />
            <GlobalStats client:only />
            <div class="md:px-5 lg:px-10">
                <slot />
            </div>
        </div>
    </div>
</Layout>
